certifi>=2020.12.5
chardet>=4.0.0
colorama>=0.4.4
commonmark>=0.9.1
configparser>=5.0.2
idna>=3.1
pip>=21.1.1
mypy>=0.812
openpyxl>=3.0.7
pdfkit>=0.6.1
Pygments>=2.9.0
pywin32>=300
requests>=2.25.1
rich>=10.2.1
selenium>=3.141.0
urllib3>=1.26.4
toml>=0.10.2
setuptools>=56.2.0
pycodestyle>=2.7.0
webdriver-manager>=3.4.2